<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.medicate.medicatemanager">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/main_app_icon"
        android:label="@string/app_name"
        android:logo="@drawable/main_app_icon"
        android:launchMode="singleTop"
        android:roundIcon="@drawable/main_app_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity android:name="com.medicate.medicatemanager.SplachScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.medicate.medicatemanager.FirebaseMessageHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="8235195" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/legal_smal" />
        <activity
            android:name="com.medicate.medicatemanager.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
    </application>
</manifest>